.navbar {
  background-color: #2f9e3f;
  margin: 0;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-items: center;
  border-bottom: 2px solid #2A8937;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding-right: 60px;
}

.container {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  background-color: #252424;

  margin-top: 60px;
}

.footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  bottom: 0;
  height: 25vh;
  background-color: rgb(46, 46, 46);
  color: white;
  border-top: 1px solid #eaeaea;
  width: 100%;
  justify-content: space-around;
  min-height: 20vh;
}
.infosFooter {
  border-radius: 50px;
  background-color: #161414;
  font-size: 1.5vw;
  margin-left: 10%;
}
.textInfos {
  font-size: 1vw;
  text-align: justify;
  align-content: center;
  margin-left: 10px;
}

.a {
  color: rgb(44, 28, 28);
  font-size: 1.5vw;
  padding: 10px;
}
.down {
  align-self: flex-end;
}
.logo {
  float: left;
  align-self: center;
}
.image {
  flex: 1;
  margin-left: 20px;
  padding-top: 4px;
}

.manual {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  background-color: #252424;
  margin-top: 40px;
  text-align: center;
}

.right {
  padding-top: 25px;
  padding-left: 10px;
}

.bodyimage {
  padding: 15px;
  margin-left: 5%;
}

.bodytext {
  height: 400px;
  width: 600px;
  margin-top: 20px;
  color: white;
  min-width: 250px;
}

.titleback {
  width: 55%;
  background-color: #161414;
  border-radius: 50px;
  margin: auto;
  justify-content: center;
}

.body {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin: auto;
}
.ballon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.backrasp {
  padding: 20px;
  background: #161414;
  color: #eaeaea;
}
.teste {
  margin-left: 0;
}
.title {
  color: rgb(255, 255, 255);
  font-size: 180%;
}
.titlerasp {
  color: rgb(255, 255, 255);
  font-size: 15 0%;
  text-align:center;
  margin-top: 3%;
  margin-block-end: 3%;
  font-size: 150%;
}
.textrasp {
  text-align: justify;
}
.raspblocks {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

@media screen and (max-width: 639px) {
  .textrasp {font-size: 15px; }
  .title {
    color: rgb(255, 255, 255);
    font-size: 130%;
  }
  .titlerasp {
    color: rgb(255, 255, 255);
    font-size: 15 0%;
    text-align:center;
    margin-top: 3%;
    margin-block-end: 3%;
    font-size: 100%;
  }
  .body {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .bodytext {
    margin: 0;
    padding: 0;
    height: 200px;
    margin: auto;
  }
  .bodyimage {
    margin: 0;
    padding: 0;
    height: 200px;
    width: 50%;
    margin: auto;
  }
}

.image {
  width: 100%;
  height: 325px;
}
@media (min-width: 640px) {
    .textrasp {font-size: 15px; }
    
  }

@media (min-width:960px) { .textrasp {font-size: 20px;} } 
@media (min-width:1100px) { .textrasp {font-size: 30px;} }