.navbar {
  background-color: #2f9e3f;
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-items: center;
  border-bottom: 2px solid #2A8937;
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 60px;
}

.container {
  width: 100%;
  background-color: red;
  margin-top: 50px;
}

.footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  background-color: rgb(46, 46, 46);
  color: #777;
  border-top: 1px solid #eaeaea;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.a {
  color: #333;
  text-decoration: none;
  padding-right: 7px;
  padding-left: 7px;
  font-size: 1.5rem;
}

.logo {
  float: left;
  align-self: center;
}
